@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
}

header{
    height: 85px; 
    font-size: 18px;
}

.row{
    height: 100%;

    /* Allineamento orizzontale. */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.row-end{
    align-items: end;
}

.dashed-border{
    border: dashed 2px black; 
}

/* HEADER */
.header-flex{
    display: flex;
}

.col-10{
    width: 240px;
}

/* Colonna menù centrale. */
.col-710{
    width: 710px;
    justify-content: center;
}


/* COLONNE */
/* Colonne piccole laterali. */

.item-1{
 width: 85%;

}



.col-83{
    width: 100%;

}

.col-w65{
    width: 50%;
}

.col-92{
    width: 110%;
}
.dropdown-arrow{
    color: wheat;
}

.language{
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.language-flag{
    width: 7%;
    vertical-align: middle;
}

.social{
    height:fit-content;
    fill: #ffffff;
    margin-top: 20px;

    display: flex;
    align-items: center;
}

.margin-social-ico{
    margin-right: 20px;
}

.italian{
    margin-left: 10px;
    vertical-align: middle;
}

footer .col-300{
    flex-direction: column;
}

.col-300{
    width: 65%;
    display: flex;
    flex-direction: column;

}

.footer-margin-column{
    margin-top: 20px;
}

.footer-title{
    color: #7289DA;
    font-size: 40px;
}

.bigger-col{
    text-align: center;
}

.section-title-2{
    padding: 20px;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: block;
    

    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.centered-section-title-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-big{
    margin-top: 20px;
}
/* Testo all'interno delle colonne.*/
.content{
    font-family: sans-serif;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin-main{
    margin-top: 30px;
}

/* Menù link. */
li{
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    color: white;
}

.inline-block-menu{
    display: inline-block;
}

.section-title{
    font-size: 50px;
    color: #23272A;
}

.section-1-p{
    margin-top: 30px;
    font-size: 23px;
}

/* Colonna LOGIN. */
.login-align{
    justify-content: flex-end; 
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 100px;

    font-weight: 600;
    font-size: 13px;

    color: #626262;
}

.margin-login{
    margin-right: 10px;
}

.center-content-y{
    justify-content: center;
}
/*---------------------------------------- */
/* Main Style */
/* DIMENSIONI RIPETUTE PER TUTTE LE SECTION ANCHE FOOTER */
section{
    width: 100%;
    height: 790px;
}

section:nth-child(1){
    height: 530px;
}

section:nth-child(3){
    background-color: #f1f1f1;
}
 
section:nth-child(5){
    height: 1060px;
    background-color: #f1f1f1;
}

.bg-image-jumbo{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer section:nth-child(1){
    width: 100%;
    height: auto;
    background-color: #23272A
}

.align-items-row{
    align-items: normal;
    margin-bottom: 20px;
}

.language-name{
    color: white;
    margin-left: 10px;
}

.container{
    max-width: 1190px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.sm-cont{
    max-width: 850px;
    text-align: center;
    font-size: 40px;

    color: white;
}

.main-descr{
    margin-top: 50px;
    font-weight: 400;
    font-size: 23px;
}

.btn-section{
    margin-top: 25px;
    font-weight: 300;
}

.btn-style{
    border: none; 
    font-size: 23px; 
    border-radius: 100px;
    padding: 10px 25px; 
}

.main-download-btn{
    background-color: white;
}

.main-open-btn{

    background-color: rgb(33, 33, 33);
    color: #ffffff;
}

/* footer */
.footer-section{
    padding: 30px;
    width: 100%;
    background-color: #23272A;
}

.flex-display-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    font-size: 22px;

}

div .col-300 ul li{
    margin-bottom: 10px;
}

div .col-300 ul li:nth-child(1){
    margin-top: 20px;
    color: #7289DA;
    font-weight: 700;
}
/* TO-DO: 
    1. Gesitre meglio le dimensioni 
    2. Rimuovere le altezze
    3. Aggiungere i commenti
    4. Rimuovere tutti i parametri ripetuti e inutili
    5. Aggiungere le wave
    6. Modificare l'ultimo hr
    */