@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
}

header{
    height: 85px; 
    font-size: 18px;
}

.row{
    height: 100%;

    /* Allineamento orizzontale. */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.row-end{
    align-items: end;
}

.dashed-border{
    border: dashed 2px black; 
}

/* HEADER */
.header-flex{
    display: flex;
}

.col-10{
    width: 240px;
}

/* Colonna menù centrale. */
.col-710{
    width: 710px;
    justify-content: center;
}


/* COLONNE */
/* Colonne piccole laterali. */
.height-92-col{
    height: 92%;
    /* col-92 */
    /* col-300 */
}

.height-83-col{ /* TO-DO: una volta aggiunto il contenuto RIMUOVERE */
    height: 83%;

    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    /* col-83 */
    /* col-w65 */
}

.item-1{
 width: 85%;

}

.col-80{
    height: 80%;
}

.col-83{
    width: 100%;

}

.col-w65{
    width: 50%;
}

.col-92{
    width: 110%;
    background-color: #F08080;
    margin-bottom:  30px;
}

footer .col-300{
    background-color: #20B2AA;
}

.col-300{
    width: 65%;
    background-color: #FFC0CB;
    margin-bottom:  30px;
}

.bigger-col{
    height: 90%;
    text-align: center;
}

.section-title-2{
    padding: 20px;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;

    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.item-big{
    margin-top: 20px;
}
/* Testo all'interno delle colonne.*/
.content{
    font-family: sans-serif;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin-main{
    margin-top: 30px;
}

/* Menù link. */
li{
    list-style: none;
    display: inline-block; 
    margin-right: 30px;
    font-weight: 600;
    color: white;
}

.section-title{
    font-size: 50px;
    color: #23272A;
}

.section-1-p{
    margin-top: 30px;
    font-size: 23px;
}

/* Colonna LOGIN. */
.login-align{
    justify-content: flex-end; 
}

.login-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 100px;

    font-weight: 600;
    font-size: 13px;

    color: #626262;
}

.margin-login{
    margin-right: 10px;
}

.center-content-y{
    justify-content: center;
}
/*---------------------------------------- */
/* Main Style */
/* DIMENSIONI RIPETUTE PER TUTTE LE SECTION ANCHE FOOTER */
section{
    width: 100%;
    height: 790px;
}

section:nth-child(1){
    height: 530px;
}

section:nth-child(3){
    background-color: #f1f1f1;
}
 
section:nth-child(5){
    height: 1060px;
    background-color: #f1f1f1;
}

.bg-image-jumbo{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer section:nth-child(1){
    width: 100%;
    height: 700px;
    background-color: #23272A
}

.container{
    max-width: 1190px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.sm-cont{
    max-width: 850px;
    text-align: center;
    font-size: 40px;

    color: white;
}

.main-descr{
    margin-top: 50px;
    font-weight: 400;
    font-size: 23px;
}

.btn-section{
    margin-top: 25px;
    font-weight: 300;
}

.btn-style{
    border: none; 
    font-size: 23px; 
    border-radius: 100px;
    padding: 10px 25px; 
}

.main-download-btn{
    background-color: white;
}

.main-open-btn{

    background-color: rgb(33, 33, 33);
    color: #ffffff;
}

/* footer */
.footer-section{
    height: 120px;
    width: 100%;
    background-color: #23272A;
}

.flex-display-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75%;
    font-size: 22px;

    background-color: #7FFFD4;
}

.bg-style{
    background-color: #FFB6C1;
    padding: 8px 10px;
    bottom: 0;
}

/* TO-DO: 
    1. Gesitre meglio le dimensioni 
    2. Rimuovere le altezze
    3. Aggiungere i commenti
    4. Rimuovere tutti i parametri ripetuti e inutili
    */